<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVx-eVaw54rP4dDcLWL-F_QFq5C0kJr-c</string>
	<key>GCM_SENDER_ID</key>
	<string>712482855173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clc.recipesApp-Kaiser</string>
	<key>PROJECT_ID</key>
	<string>recipesapp-7d3dd</string>
	<key>STORAGE_BUCKET</key>
	<string>recipesapp-7d3dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712482855173:ios:aa83a8154b4f28e504bf6c</string>
	<key>DATABASE_URL</key>
	<string>https://recipesapp-7d3dd-default-rtdb.firebaseio.com</string>
</dict>
</plist>